<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<title>Weather APP</title>
<script src="https://kit.fontawesome.com/0d56741fa7.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/style_about.css">
<link rel="shortcut icon" href="images/weather-icon-png-11074.png" type="image/x-icon">
</head>

<body>
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid">
                        <a class="navbar-brand " href="#"><i class="fa fa-snowflake-o"></i>Instant Weather <i
                                class="fa fa-snowflake-o"></i></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="nav-link " aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  " href="/weather">Weather</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  " href="/about">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
<div class="wrap">
        <!-- MAin header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <img src="images/myself.jpeg" alt="" width="50%" style="margin-left:5rem;">
                    <!-- right side div  -->
                </div>
                <div class="col-md-6 col-12 main_header_right">
                    <p>This Website uses a real time API whch updates the information about the weather of the cities </p>
                    <h1>Developed Using Express and Bootstrap</h1>
                  <br>
                  <h3>About Myself:</h3>
                  <p>I am <span class="word">Nikhil</span>currently pursuing my Btech in EEE in NIT Warangal <br>Trying to learn and implement topics of Full Stcak Web Development Using <span class="word">MERN</span></p>
                </div>
                   
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    {{!-- <script src="js/script.js"></script> --}}
    <!-- footer section  -->
    <footer>
        <p>created with <i class="fa-solid fa-heart"></i> From Nikhil</p>
    </footer>
</div>

</body>

</html>